@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&family=Roboto+Slab:wght@100;200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  background-color: #e1e1e1;
  gap: 25px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#bar-1,
#bar-2 {
  background-color: #212529;
  height: 100svh;
  padding: 15px 10px;
  width: 17svw;
  box-shadow: rgb(34, 38, 42, 0.5) 5px 5px 15px;
}

#bar-1-logo-div,
#bar-2-logo-div {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: rgba(255, 255, 255, 0.3) solid 1px;
}

#bar-1-logo-div iconify-icon,
#bar-1-logo-div h1,
#bar-2-logo-div iconify-icon,
#bar-2-logo-div h1 {
  color: #ffffff;
  font-weight: 300;
  font-size: 25px;
}

#bar-1-menu-div,
#bar-2-menu-div {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 5px;
  margin-bottom: 350px;
}

#bar-1-menu-div div,
#bar-2-menu-div div {
  display: flex;
  align-items: center;
  padding: 10px 30px 10px 20px;
  border-radius: 5px;
  gap: 13px;
  cursor: pointer;
}

#bar-1-menu-div div:hover,
#bar-2-menu-div div:hover {
  background-color: #0d6efd;
}

#bar-1-menu-div iconify-icon,
#bar-1-menu-div p {
  color: #ffffff;
  font-weight: 300;
}

#bar-1-profile-div,
#bar-2-profile-div {
  display: flex;
  align-items: center;
  padding-top: 15px;
  border-top: rgba(255, 255, 255, 0.3) solid 1px;
}

#bar-1-profile-div p,
#bar-2-profile-div p {
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

#bar-1-profile-div span,
#bar-2-profile-div span {
  padding: 15px;
  border-radius: 50%;
  margin-right: 5px;
  background-image: url(https://plus.unsplash.com/premium_photo-1679046948975-376caa1f31ef?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0M3x8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

#bar-1-profile-div iconify-icon,
#bar-2-profile-div iconify-icon {
  cursor: pointer;
}

/* **************Second Bar******************* */

#bar-2 {
  background-color: #f8f9fa;
}

#bar-2-logo-div {
  border-bottom: rgba(15, 13, 13, 0.3) solid 1px;
}

#bar-2-logo-div iconify-icon,
#bar-2-logo-div h1 {
  color: #121213;
}

#bar-2-menu-div iconify-icon,
#bar-2-menu-div p {
  color: #121213;
  font-weight: 300;
}

#bar-2-menu-div iconify-icon:hover,
#bar-2-menu-div p:hover {
  color: #f8f9fa;
  font-weight: 300;
}

#bar-2-menu-div div:hover {
  color: #f8f9fa;
  font-weight: 300;
}

#bar-2-profile-div {
  border-top: rgba(24, 23, 23, 0.3) solid 1px;
}

#bar-2-profile-div p {
  color: #121213;
}
